<div style="text-align: center;">
<h1 class="text-danger">
  SnapFeed
</h1>
<div>
  <%= image_tag "logo.jpeg", alt: "Логотип SnapFeed", style: "width: 180px; height: 180px;" %>
</div>

&copy; melentev prod. <%= Time.now.year %>
</div>